<mg-round-splash-screen>
  <ng-container *ngIf="game && score; else loading">
    <div class="text-2xl">Scoreboard</div>
    <div class="flex" *ngFor="let participant of game.participants">
      <img
        [ngClass]="score[participant.id].isWinner ? 'ring-4 ring-purple' : ''"
        class="inline-block h-6 w-6 rounded-full ring-2 ring-white"
        [src]="participant.photoURL"
        alt=""
      />
      <div class="ml-4 font-semibold">{{ participant.displayName }} {{score[participant.id].isWinner ? '(Winner 🎉)': ''}}</div>
      <div
        class="flex flex-1 justify-end"
      >
        <div>{{score[participant.id].value}}</div>
      </div>
    </div>
    <div class="mt-3 flex justify-center">
      <div class="btn w-fit" routerLink="/">Go to Home</div>
    </div>
  </ng-container>
  <div id="belowCard" class="mt-3 py-3 flex flex-col items-center justify-center">
    <div class="text-xl font-semi-bold">
      <a href="https://youtube.com/CodeWithAhsan" class="text-black underline underline-offset-4 hover:text-indigo-600">Code with Ahsan</a>
    </div>
  </div>
</mg-round-splash-screen>


<ng-template #loading>
  <div class="text-center">
    <div class="text-2xl">Loading...</div>
    <div class="text-sm">Please wait while we load the scoreboard...</div>
  </div>
</ng-template>
